<a href="https://colab.research.google.com/github/zzhining/ml_basic/blob/main/pandas/exercise/%EC%83%9D%EC%84%B1_%EB%B0%8F_%ED%83%90%EC%83%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

주어진 주가 데이터를 이용해 데이터프레임을 만들고, 다양한 요약 통계를 계산하는 파이썬 코드를 작성하세요. 주가 데이터는 주식의 날짜, 종가(Close), 최고가(High), 최저가(Low), 거래량(Volume)이 있습니다.

|Date|Close|High|Low|Volume|
|---|---|---|---|---|
|2024-06-01|150|155|148|3500000|
|2024-06-02|152|156|149|3200000|
|2024-06-03|149|153|147|4000000|
|2024-06-04|153|157|150|3700000|
|2024-06-05|151|154|148|3800000|

1. 위 데이터를 포함하는 데이터프레임을 생성하세요

In [12]:
#답을 작성하세요.
import pandas as pd
data = { 'Date':["2024-06-01", "2024-06-02", "2024-06-03", "2024-06-04", "2024-06-05"],
           'Close':[150, 152, 149, 153, 151],
            'High': [155, 156, 153, 157, 154],
            'Low':[148, 149, 147, 150, 148],
            'Volume': [3500000, 3200000, 4000000, 3700000, 3800000]
    
}

In [15]:
# 테스트
answer1 = pd.DataFrame(data)
answer1

         Date  Close  High  Low   Volume
0  2024-06-01    150   155  148  3500000
1  2024-06-02    152   156  149  3200000
2  2024-06-03    149   153  147  4000000
3  2024-06-04    153   157  150  3700000
4  2024-06-05    151   154  148  3800000

2. 각 열(column)의 요약 통계를 계산하세요.

In [23]:
#답을 작성하세요.
answer2 = answer1.describe()

In [24]:
# 테스트
answer2

            Close        High         Low        Volume
count    5.000000    5.000000    5.000000  5.000000e+00
mean   151.000000  155.000000  148.400000  3.640000e+06
std      1.581139    1.581139    1.140175  3.049590e+05
min    149.000000  153.000000  147.000000  3.200000e+06
25%    150.000000  154.000000  148.000000  3.500000e+06
50%    151.000000  155.000000  148.000000  3.700000e+06
75%    152.000000  156.000000  149.000000  3.800000e+06
max    153.000000  157.000000  150.000000  4.000000e+06

3. 종가의 평균값을 구하세요.

In [40]:
#답을 작성하세요.
answer3 = answer1['Close'].mean()

In [41]:
# 테스트
answer3

151.0

4. 최고가의 최대값을 구하세요.

In [42]:
#답을 작성하세요.
answer4 = answer1['High'].max()

In [43]:
# 테스트
print(answer4)

157

5. 최저가의 최소값을 구하세요.

In [44]:
#답을 작성하세요.
answer5 =answer1['Low'].min()

In [45]:
# 테스트
print(answer5)

147

6. 거래량의 총합을 구하세요.

In [46]:
#답을 작성하세요.
answer6 = answer1['Volume'].sum()

In [47]:
# 테스트
print(answer6)

18200000

7. 데이터프레임의 전체 요약 통계를 출력하세요.

In [48]:
#답을 작성하세요.
answer7 = answer1.describe()

In [50]:
# 테스트
answer7

            Close        High         Low        Volume
count    5.000000    5.000000    5.000000  5.000000e+00
mean   151.000000  155.000000  148.400000  3.640000e+06
std      1.581139    1.581139    1.140175  3.049590e+05
min    149.000000  153.000000  147.000000  3.200000e+06
25%    150.000000  154.000000  148.000000  3.500000e+06
50%    151.000000  155.000000  148.000000  3.700000e+06
75%    152.000000  156.000000  149.000000  3.800000e+06
max    153.000000  157.000000  150.000000  4.000000e+06

8. 종가의 값이 150 이상인 행(row)들을 출력하세요.

In [55]:
#답을 작성하세요.
answer8 = answer1[answer1['Close']>=150]

In [56]:
# 테스트
print(answer8)

         Date  Close  High  Low   Volume
0  2024-06-01    150   155  148  3500000
1  2024-06-02    152   156  149  3200000
3  2024-06-04    153   157  150  3700000
4  2024-06-05    151   154  148  3800000

9. 거래량의 값이 3600000 이상인 행(row)들의 날짜(Date)를 출력하세요.

In [62]:
#답을 작성하세요.
answer9 = answer1[answer1['Volume']<3600000]['Date']

In [63]:
# 테스트
answer9

0    2024-06-01
1    2024-06-02
Name: Date, dtype: object

@. 최고가와 최저가의 차이(최고가-최저가)를 나타내는 새로운 열 diff 를 만드세요.

In [64]:
#답을 작성하세요.
answer1['diff'] = answer1['High'] - answer1['Low']

In [65]:
answer1

         Date  Close  High  Low   Volume  diff
0  2024-06-01    150   155  148  3500000     7
1  2024-06-02    152   156  149  3200000     7
2  2024-06-03    149   153  147  4000000     6
3  2024-06-04    153   157  150  3700000     7
4  2024-06-05    151   154  148  3800000     6